<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @twatt.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @twatt.content %>
</p>

<%= link_to 'Edit', edit_twatt_path(@twatt) %> |
<%= link_to 'Back', twatts_path %>
